h1 {
    font-style: italic;
}

h3 {
    color: white;
    font-weight: bold;
    background-color: rgb(36, 129, 200);
}

.img-fluid {
    max-width: 80%;
}

.img-promocao {
    max-width: 60%;
    max-height: auto;
}

.img-servicos {
    max-width: 40%;
    max-height: auto;
}

.img-produtos {
    max-width: 200px;
    max-height: 200px;
    align-self: center;
    margin: 15px;
}

.img-redes {
    max-width: 80px;
    max-height: 80px;
    align-self: center;
    margin: 10px;
}

a {
    font-size: large;
}